@font-face {
  font-family: akrobat-black;
  src: url("./Akrobat-Black.otf");
}
@font-face {
  font-family: akrobat-bold;
  src: url("./Akrobat-Bold.otf");
}
@font-face {
  font-family: akrobat-extrabold;
  src: url("./Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: akrobat-regular;
  src: url("./Akrobat-Regular.otf");
}
@font-face {
  font-family: akrobat-light;
  src: url("./Akrobat-Light.otf");
}
@font-face {
  font-family: akrobat-extralight;
  src: url("./Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: akrobat-thin;
  src: url("./Akrobat-Thin.otf");
}
*{
  margin: 0;
  padding: 0;
}
html{
  /*  background-color: #374050;*/

}
h1{
  /*color: #FF5245;*/
}
h2{
  /*color: #2A8E9D;*/
  color: #88D286;
}
p{
  /*color: #FFC938;*/
  color: #D6E06B;
}
.name{
  color: white;
  font-family: akrobat-extrabold;
  font-size: 60px;
  border-bottom: solid #EE5242;
}
.prof{
  font-family: akrobat-thin;
  font-size: 50px;
  color: white;
}

.welcome{
  width: 100%;
  height: 800px;
  background-image: url("./imagen-cabecera1.jpg");
  background-size: 100% 849px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.name-container{
  display: flex;
  height: 25%;
  flex-flow: column wrap;
  align-items: center;
}
.aboutme{
  padding: 75px 0 75px 0;
  width: 100%;
  height: 800px;
  background-color: #403B39;
}
.wewe{
  border-bottom: solid #EE5242;
  color: #FFFFFF;
}
.portfolio{
  padding: 75px 0 75px 0;
  width: 100%;
  height: 800px;
  background-color: #4A4443;
}
.contact{
  padding: 75px 0 75px 0;
  width: 100%;
  height: 800px;
  background-color: #403B39;
}
.navcont{
  position: sticky;
  top: 0;
  background-color: #333;
  display:flex;
  justify-content: center;
}
ul {
  display: inline-flex;
  list-style-type: none;
  width: 65%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-between;
}

li {
  float: left;
  font-family: akrobat-bold;
  font-size: 24px;
}

li a {
  display: block;
  color: #69605E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #F4E6CD;
  transition: 0.25s;
}

.current {
  color: #FFFFFF;
}
