html{
/*  background-color: #374050;*/
  background-color: #2E354E;
}
h1{
  /*color: #FF5245;*/
  color: #F87D4D;


}
h2{
  /*color: #2A8E9D;*/
  color: #88D286;
}
p{
  /*color: #FFC938;*/
  color: #D6E06B;
}
