@font-face {
  font-family: akrobat-black;
  src: url("../fnt/Akrobat-Black.otf");
}
@font-face {
  font-family: akrobat-bold;
  src: url("../fnt/Akrobat-Bold.otf");
}
@font-face {
  font-family: akrobat-extrabold;
  src: url("../fnt/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: akrobat-regular;
  src: url("../fnt/Akrobat-Regular.otf");
}
@font-face {
  font-family: akrobat-light;
  src: url("../fnt/Akrobat-Light.otf");
}
@font-face {
  font-family: akrobat-extralight;
  src: url("../fnt/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: akrobat-thin;
  src: url("../fnt/Akrobat-Thin.otf");
}
*{
  margin: 0;
  padding: 0;
}
html{
/*  background-color: #374050;*/
  background-color: #2E354E;
}
h1{
  /*color: #FF5245;*/
}
h2{
  /*color: #2A8E9D;*/
  color: #88D286;
}
p{
  /*color: #FFC938;*/
  color: #D6E06B;
}
.name{
  color: white;
  font-family: akrobat-extrabold;
  font-size: 60px;
  border-bottom: solid #EE5242;
}
.prof{
  font-family: akrobat-thin;
  font-size: 50px;
  color: white;
}

.welcome{
  width: 100%;
  height: 849px;
  background-image: url("../img/imagen-cabecera1.jpg");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.name-container{
  display: flex;
  height: 25%;
  flex-flow: column wrap;
  align-items: center;
}
